main {
  width: 100%;
  max-width: 100%;
  margin: 0;
  padding: 0;
  display: grid;
  grid-auto-flow: row;
  gap: 0;
  min-height: calc(100vh - 80px);
}

#users {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 0.5rem;
  overflow: auto;
}

#fallback {
  font-weight: 400;
  font-size: 1.15rem;
  margin: 0;
  text-align: center;
  color: #86868b;
  padding: 4rem 2rem;
}

@media (min-width: 768px) {
  main {
    margin: 0;
    grid-template-columns: 380px 1fr;
    gap: 0;
  }

  #users {
    flex-direction: column;
  }

  #fallback {
    font-size: 1.5rem;
    text-align: left;
    padding: 6rem 4rem;
  }
}