<app-header 
  (showHome)="onShowHome()" 
  (showHistory)="onShowHistory()" 
  (showClubeDoValor)="onShowClubeDoValor()"
  (showConfiguration)="onShowConfiguration()"
  (showAllocationStrategy)="onShowAllocationStrategy()" />

<main>
  @if (!showBrokerageHistory && !showClubeDoValor && !showConfiguration && !showAllocationStrategy) {
    <app-user-list
      (userSelected)="onUserSelected($event)"
      (createUser)="onCreateUser()"
    />

    @if (showCreateUser) {
      <app-create-user
        (close)="onCloseCreateUser()"
        (userCreated)="onUserCreated()"
      />
    }

    @if (selectedUser) {
      <app-portfolio [userId]="selectedUser.id" [userName]="selectedUser.name || ''"/>
    } @else {
      <p id="fallback">Selecione um cliente para ver sua carteira de investimentos.</p>
    }
  } @else if (showBrokerageHistory) {
    <app-history-list />
  } @else if (showClubeDoValor) {
    <!-- Component with Sidebar + Content -->
    <app-clubedovalor />
  } @else if (showConfiguration) {
    <app-configuration />
  } @else if (showAllocationStrategy) {
    <app-allocation-strategy />
  }
</main>
